
/* media query for tablate */

@media only screen and (max-width:768px) {
    #g2{
        grid-area: 3/1/6/2;
    }
    #g1{
        grid-area: 1/1/2/5;
    }
    #g4{
        grid-area: 3/2/4/5;  
    }
    #g8{
        grid-area: 4/2/5/5;    
    }
    #g7{
        grid-area: 5/2/6/4;    
    }
    #g6{
        grid-area: 5/4/6/5;    
    }
}



/* media query for phone */
@media only screen and (max-width:400px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr; 

     
    }
      #g1, #g2, #g3, #g4, #g5, #g6, #g7, #g8 {
        grid-area: unset;
    }

}